body { 
    display: grid;
    grid-template-areas: 
      "logo search burger"
      "nav category category"
      "nav main main"
      "footer main main";
    grid-template-rows: 70px 35px 1fr 100px;
    grid-template-columns: minmax(175px , 200px) minmax(375px , 1fr) 90px;
    height: 96.5vh;
    margin: 10px;
    background-color:rgb(37, 37, 37);
}

header, footer, div {
    /* border: 1px solid black ; */
    background-color: white;
}

#logo {
    grid-area: logo;
}

#search {
    grid-area: search;
}

#burger {
    grid-area: burger;
}

#pageFooter {
    grid-area: footer;
}

#main { 
    grid-area: main;  
}

#nav { 
    grid-area: nav; 
}

#category { 
    grid-area: category; 
}