#category {
    background-color: rgb(110, 110, 110);
    padding: 3px;
    float: right;
    overflow-x: scroll;
    white-space: nowrap;
}

#category button {
    border: solid 1.5px silver;
    font-size: 20px;
    background-color: rgb(110, 110, 110);
    color: white;
    border-radius: 15px;
    margin-right: 10px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);;
}

#category button:hover {
    color: black;
    border: solid 1.5px black;
}

#category::-webkit-scrollbar {
    display: none;
}