#pageFooter {
    background-color: rgb(110, 110, 110);
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#pageFooter p{
    height: 40px;
    margin: auto;
    font-size: 14px;
    text-align: center;
    font-weight: 600;
    color: white;
    font-family: cursive;
}

#pageFooter button {
    color: white;
    background-color: rgb(110, 110, 110);
    font-size: 30px;
    margin: auto;
    cursor: pointer;
    border: none;
}

#pageFooter .fa-facebook:hover {
    color: blue;
}

#pageFooter .fa-twitter:hover {
    color: deepskyblue;
}

#pageFooter .fa-instagram:hover {
    color: tomato;
}
