#nav {
    overflow-y: scroll;
    background-color: grey;
    border: solid 10px rgb(110, 110, 110);
    border-top: solid 5px rgb(110, 110, 110);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    row-gap: 5px;
}
#nav button {
    background-color: grey;
    color: white;
    height: 30px;
    cursor: pointer;
    border: none;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

#nav button p, img {
    float: left;
    margin: auto;
    font-size: 17px;
}

#nav button p {
    margin-top: +3px;
    margin-left: +4px;
}

#nav button .k {
    float: right;
    font-size: 14px;
    margin: auto;
    margin-top: +4.5px;
    margin-left: +5px;
    margin-right: +3px;       
}

#nav button img {
    height: 25px;
    width: 25px;
}

#nav button i {
    float: right;
    font-size: 15px;
    margin-top: +4.5px;
}

#nav button:hover {
    color: black;
    background-color: #f1f1f1;
  }

#nav::-webkit-scrollbar {
    display: none;
}