
 .burger button { 
    float: left;
    padding: 6px;
    margin-top: 9.5px;
    margin-left: 5px;
    background: gray;
    font-size: 25px;
    border: none;
    cursor: pointer;
    color: white;
 }

 .burger button:hover {
    color: black;
  }