
 .search button { 
    float: right;
    padding: 6px;
    margin-top: 9.5px;
    margin-right: 10px;
    background: gray;
    font-size: 25px;
    border: none;
    cursor: pointer;
    color: white;
 }

.search #button {
    margin-right: 4px;
    background: rgb(110, 110, 110);
    font-size: 17px;
    border: double 4px silver;
}

.search input[type=text] {
    float: right;
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: double 5px rgb(110, 110, 110);
    background: silver;
    width: 250px;
    color: black;
  }

.search button:hover {
    color: black;
  }

.search #button:hover {
    background-color: silver;
    color: black;
  }
